flask
six
python-ldap
PyJWT
flask-login
flask-restplus
bravado
Flask-Cors
apispec
webargs
flask-marshmallow
# flask-cors
flatdict
bidict
bson
pymongo
watchdog
socketIO-client
flask-socketio
gevent
gevent-websocket
PyYAML